<div class="captured-container">
  <div *ngIf="capturedContent">
    <div class="captured-video">
      <div *ngIf="isVideo">
        <video class="img-fluid video" [src]="capturedContent" controls></video>
      </div>
      <div *ngIf="!isVideo">
        <img class="img-fluid video" [src]="capturedContent" alt="Captured Photo" />
      </div>
    </div>
    <div class="controls">
      <button class="button-50" (click)="downloadContent()" role="button">Download</button>
    </div>
  </div>
</div>
